/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 85rem;
}


.btn {
    display: inline-block;
    background: #EFEFEF;
    border: none;
    color: #000000;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;

}

/* Profile */

.profile-image {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    float: left;
    margin-right: 4rem;
    width: calc(33% - 2rem);
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
}

.profile-user-settings,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1rem;

}

.profile-user-name{
display: inline-block;
font-size: 2.3rem;
font-weight: 300;
}


.profile-stats li {
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    line-height: 1.4;
    margin-right: 5rem; 
    margin-top: 1.5rem;

}

.profile-edit-btn {
    margin-left: 1rem;
    font-size: 1.4rem;
}

.profile-edit-btn:hover {
    background: #DBDBDB;


}

.profile-settings-btn {
    background: transparent;
    font-size: 2rem;

}

.profile-bio {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.5;

}
.profile-stats li:last-of-type {
    margin-right: 0;
}
.profile-edit-btn, .profile-real-name, .profile-stat-count{
    font-weight: 700;
}


/* Gallery */

.gallery {
    display: inline-grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 225px 225px;
    grid-gap: 1.5rem;
    margin-top: 2.5rem;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    max-height: 225px;
}

.gallery-item{ 
    position: relative;
    color: #fff;
    flex: 1 0 0 20rem; 
    cursor: pointer;
    font-size: 1.7rem;
    
}

.gallery-item-info {
    display: none;
}

.gallery-item-info ul  {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    display: inline-block;   
}
.gallery-item-info li {
    display: inline-block;
    margin-right: 2rem;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.visually-hidden{
    display: none;

}

.gallery-item-type {
    position: absolute;
    top: 0%;
    right: 0%;
    margin: 0.5rem 0.5rem;
    font-size: 2rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.loader {
    width: 4.5rem;
    height: 4.5rem;
    margin: 1.5rem auto;
    border-radius: 50%;
    border: 0.5rem solid #999999;
    border-bottom-color: transparent;
    animation: loading-wheel 0.8s linear infinite;

}

/* Animations */

@keyframes loading-wheel {
    to {
        transform: rotate(360deg);
    }
}

/* Media Query */

@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem 2.8rem;
    }

    .profile-image,
    .profile-bio
    .profile-user-settings 
     {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 9rem;
    }

    .profile-user-name {
        font-size: 2rem;
    }

    .profile-stats{
        order: 1;
       
    
    }
    .profile-stats, 
    .profile-bio
    .profile-user-settings{
        flex-basis: 100%;
    }

    .profile-stats ul{
        border-top: 0.1rem solid #999999 ;
        border-bottom: 0.1rem solid #999999 ;
        text-align: center;
        display: flex;

    }
    .profile-stats li {
        font-size: 1.5rem;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        
    }

    .profile-user-settings{
        display: flex;
        flex-wrap: wrap;

    }
   

    .profile-edit-btn {
        order: 1;
        text-align: center;
        padding: 0.2rem 0.2rem;
        font-size: 1rem;
        

        
    }

    .profile-bio {
        font-size: 1.2rem;
    }

    

    .profile-image,
    .profile-user-settings 
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    } 

    .gallery-item-info li {
        font-size: 1rem;
        display: inline;
        margin-right: 1rem;
    }



}